.col-12
  %h1 Random beer
.col-4
  %img.img-thumbnail{:alt => "Avatar", :src => "#{JSON.parse(@beer)[0]['image_url']}"}
.col-8
  %p Beer name: #{JSON.parse(@beer)[0]['name']}
  %p Beer description: #{JSON.parse(@beer)[0]['description']}
